# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.csv
*.csv.*
PayrollExport/bin/Release/PayrollExportFiles/ExportBackup/209_20150330_20150412.csv.20150527_123958
PayrollExport/bin/Release/PayrollExportFiles/ExportBackup/209_20150406_20150412.csv.20150527_115854
PayrollExport/bin/Release/PayrollExportFiles/ExportBackup/209_20150406_20150412.csv.20150527_120039
*.exe
*.pdb

# User-specific files 
*.suo 
*.user 
*.userosscache 
*.sln.docstates 

# Build results 
PayrollExport/[Bb]in/[Dd]ebug/ 
[Dd]ebugPublic/ 
PayrollExport/[Bb]in/[Rr]elease/ 
[Rr]eleases/ 
x64/ 
x86/ 
build/ 
bld/ 
PayrollExport/[Bb]in/ 
PayrollExport/[Oo]bj/
_ReSharper.PayrollExport/
*.log
*.manifest
*.cache
PayrollExport/obj/x86/Release/PayrollExport.csproj.FileListAbsolute.txt
_ReSharper.PayrollExport/BuildScriptCache/.crc
*.dat
_ReSharper.PayrollExport/BuildScriptCache/.crc
_ReSharper.PayrollExport/BuildScriptCache/.crc
*.crc
PayrollExport/bin/Release/Configuration/PayrollExportConfig.xml
_ReSharper.PayrollExport/BuildScriptCache/.crc
*.crc
*.dat
*.crc
*.crc
*.crc
*.suo
*.user
*.suo